{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="wrap-signUp">
    <span class="login-form-title">
        Регистрация
    </span>

    <form action="{% url 'signUp' %}" method="post" class="signUp">
        {% csrf_token %}
        {% for f in form %}
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <div class="login-item">
                {{ f }}
            </div>
        </div>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}


        <button class="login-form-btn">
            Зарегистрироваться
        </button>

        <div class="forward-pass">
            <a class="txt2" href="{% url 'signIn' %}">
                Уже есть аккаунт ? Войдите
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </form>
</div>
{% endblock %}