{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="abonements">
    <div class="abonement">
        <h3 class="abonement-title">Разовое посещение</h3>
        <h5 style="color: yellow;justify-content: center;align-items: center;display: flex;">Цена 300 рублей</h5>
        <img src="{% static 'main/images/5.png' %}" alt="" class="abonement-img">
        <div class="abonement-button-div">
            <button class="abonement-button"><a href="{% url 'createtrening' %}"
                    style="text-decoration: none; color:#fff;">Купить</a></button>
        </div>
    </div>
    <div class="abonement">
        <h3 class="abonement-title">Абонемент на месяц</h3>
        <h5 style="color: yellow;justify-content: center;align-items: center;display: flex;">Цена 2600 рублей</h5>
        <img src="{% static 'main/images/15.png' %}" alt="" class="abonement-img">
        <div class="abonement-button-div">
            <button class="abonement-button"><a href="{% url 'createtrening' %}"
                    style="text-decoration: none; color:#fff;">Купить</a></button>
        </div>
    </div>
    <div class="abonement">
        <h3 class="abonement-title">Абонемент на год</h3>
        <h5 style="color: yellow;justify-content: center;align-items: center;display: flex;">Цена 19.800 рублей</h5>
        <img src="{% static 'main/images/25.png' %}" alt="" class="abonement-img">
        <div class="abonement-button-div">
            <button class="abonement-button"><a href="{% url 'createtrening' %}"
                    style="text-decoration: none; color:#fff;">Купить</a></button>
        </div>
    </div>
</div>
{% endblock %}